<!DOCTYPE html>
<html>
<body>

{% if student_list %}
    <ul>
    {% for student in student_list %}
        <li>
            <a href="{% url 'practice:edit_student' student.id %}">
                {{ student }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No students are available.</p>
{% endif %}

<button type="button" onclick="window.location = '{% url 'practice:add_student' %}'">Add</button>
{#<a role="button" href="{% url 'practice:add_student' %}">Add</a>#}

</body>
</html>